

<table>

  <tr>
    <th>Nutzer/Downloads</th>
  </tr>
</table>

<table style="border-style: dashed">
  <tr>
    <th>IPhone</th>
    <th>IPad</th>
    <th>Android</th>
    <th>Mobile Website</th>
  </tr>

  <tr>
    <td>#### HIER DIE ELEMENTE AUS EVENTARRAY AUSGEBEN    </td>
    <td>    </td>
    <td>    </td>
    <td>    </td>
  </tr>

  <tr>
    <td>Gesamt: </td>
  </tr>
</table>